{
  "root": true,
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": 2,
    // "import/no-unresolved": 1,
    "react/display-name": 0,
    "react/prop-types": 0
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": [
          "apps/marketplace-web/tsconfig.json"
        ]
      }
    },

  }
}
